In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r'C:/Users/BiG/Downloads/archive (3)/housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [19]:
df = df[df['ocean_proximity'].isin(['<1H OCEAN', 'INLAND'])]
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [20]:
columns = [
    "longitude",
    "latitude",
    "housing_median_age",
    "total_rooms",
    "total_bedrooms",
    "population",
    "households", 
    "median_income",
    "median_house_value"
]

df = df[columns]

In [21]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

# Question 1
There's one feature with missing values. What is it?
total_bedrooms

In [5]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [22]:
#df = df.fillna(df['total_bedrooms'].mean())

# Question 2
What's the median (50% percentile) for variable 'population'?

1195.0

In [24]:
df['population'].median()

1195.0

## Prepare and split the dataset

In [25]:
from sklearn.model_selection import train_test_split

df['median_house_value'] = np.log1p(df['median_house_value'])

# Splitting the data into train, validation, and test sets
train_data, remaining_data = train_test_split(df, test_size=0.4, random_state=42)
validation_data, test_data = train_test_split(remaining_data, test_size=0.5, random_state=42)

# Print the shapes of the resulting sets
print("Train set shape:", train_data.shape)
print("Validation set shape:", validation_data.shape)
print("Test set shape:", test_data.shape)

Train set shape: (9412, 9)
Validation set shape: (3137, 9)
Test set shape: (3138, 9)

C:\Users\BiG\AppData\Local\Temp\ipykernel_27888\855679202.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['median_house_value'] = np.log1p(df['median_house_value'])

# Question 3
We need to deal with missing values for the column from Q1.
We have two options: fill it with 0 or with the mean of this variable.
Try both options. For each, train a linear regression model without regularization using the code from the lessons.
For computing the mean, use the training only!
Use the validation dataset to evaluate the models and compare the RMSE of each option.
Round the RMSE scores to 2 decimal digits using round(score, 2)
Which option gives better RMSE?
Both are equal.

In [26]:
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

def prepare_X(df, fillna_value):
    df = df.fillna(fillna_value)
    X = df.values
    return X

def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [27]:
df5=df.copy()
df_mean = prepare_X(df5 , train_data['total_bedrooms'].mean())
dfm = pd.DataFrame(df_mean)
dfm.columns = columns
y_train = dfm['median_house_value']
X_train = dfm.drop(['median_house_value'], axis=1)


w_0, w = train_linear_regression(X_train, y_train)

Val = prepare_X(validation_data, fillna_value=train_data['total_bedrooms'].mean())
dfm = pd.DataFrame(Val)
dfm.columns = columns
y_Val = dfm['median_house_value']
X_Val = dfm.drop(['median_house_value'], axis=1)

y_pred = w_0 + X_Val.dot(w)

rmse(y_Val, y_pred)

0.3444944362604667

In [28]:
df4=df.copy()
df_mean = prepare_X(df4 , 0)
dfm = pd.DataFrame(df_mean)
dfm.columns = columns
y_train = dfm['median_house_value']
X_train = dfm.drop(['median_house_value'], axis=1)


w_0, w = train_linear_regression(X_train, y_train)

Val = prepare_X(validation_data, 0)
dfm = pd.DataFrame(Val)
dfm.columns = columns
y_Val = dfm['median_house_value']
X_Val = dfm.drop(['median_house_value'], axis=1)

y_pred = w_0 + X_Val.dot(w)

rmse(y_Val, y_pred)

0.34485714153268654

# Question 4

In [29]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [30]:
r = [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]
df3 = df.copy()
df_mean = prepare_X(df3 , 0)
dfm = pd.DataFrame(df_mean)
dfm.columns = columns
y_train = dfm['median_house_value']
X_train = dfm.drop(['median_house_value'], axis=1)


for item in r:

    w_0, w = train_linear_regression_reg(X_train, y_train,item)

    Val = prepare_X(validation_data, 0)
    dfm = pd.DataFrame(Val)
    dfm.columns = columns
    y_Val = dfm['median_house_value']
    X_Val = dfm.drop(['median_house_value'], axis=1)

    y_pred = w_0 + X_Val.dot(w)

    rmse_val = rmse(y_Val, y_pred)
    print('%06s %0.5f' % (item, rmse_val))

     0 0.34486
 1e-06 0.34486
0.0001 0.34486
 0.001 0.34485
  0.01 0.34483
   0.1 0.34471
     1 0.34594
     5 0.34844
    10 0.34913

0.1 is better

# Question 5

In [31]:
from sklearn.model_selection import train_test_split
df2=df.copy()
rmses = []
seeds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for s in seeds:

    # Splitting the data into train, validation, and test sets
    #df2['median_house_value'] = np.log1p(df2['median_house_value'])
    train_data, remaining_data = train_test_split(df2, test_size=0.4, random_state=s)
    validation_data, test_data = train_test_split(remaining_data, test_size=0.5, random_state=s)
    

    df_mean = prepare_X(df2 , 0)
    dfm = pd.DataFrame(df_mean)
    dfm.columns = columns
    y_train = dfm['median_house_value']
    X_train = dfm.drop(['median_house_value'], axis=1)


    w_0, w = train_linear_regression(X_train, y_train)

    Val = prepare_X(validation_data, 0)
    dfm = pd.DataFrame(Val)
    dfm.columns = columns
    y_Val = dfm['median_house_value']
    X_Val = dfm.drop(['median_house_value'], axis=1)

    y_pred = w_0 + X_Val.dot(w)

    rmses.append(rmse(y_Val, y_pred))
std = np.std(rmses)
result = round(std, 3)
print(result)

0.006

# Question 6

In [33]:
n = len(df)

n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.seed(9)
np.random.shuffle(idx)

df_shuffled = df.iloc[idx]

df_train = df_shuffled.iloc[:n_train].copy()
df_val = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test = df_shuffled.iloc[n_train+n_val:].copy()

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train_orig = df_train.median_house_value.values
y_val_orig = df_val.median_house_value.values
y_test_orig = df_test.median_house_value.values

y_train = np.log1p(y_train_orig)
y_val = np.log1p(y_val_orig)
y_test = np.log1p(y_test_orig)

del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [34]:
df_full_train = pd.concat([df_train, df_val])
df_full_train = df_full_train.reset_index(drop=True)

X_full_train = prepare_X(df_full_train, fillna_value=0)
y_full_train = np.concatenate([y_train, y_val])
w_0, w = train_linear_regression_reg(X_full_train, y_full_train, r=0.001)

X_test = prepare_X(df_test, fillna_value=0)
y_pred = w_0 + X_test.dot(w)

result = rmse(y_test, y_pred)
print(result)

0.025963650465239668